.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  /* border: 1px solid black; */
  /* width: 90%; */
}

.menu__header {
  background-color: var(--main-title-bg);
  color: var(--main-text);
  padding: 10px 10px;
  align-self: flex-start;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  gap: 20px 30px;
}

.menu-list__item {
  flex-basis: 40%;
}
